[Unit]
Description=Daily ZFS replication to HDD
After=sanoid.timer

[Timer]
OnCalendar={{ syncoid_schedule }}
RandomizedDelaySec={{ syncoid_randomized_delay }}
Persistent=true

[Install]
WantedBy=timers.target
