[defaults]
inventory          = inventory/hosts.yml
remote_user        = adyrem
private_key_file   = ../keys/homelab_ed25519
roles_path         = roles
host_key_checking  = False
stdout_callback    = yaml
diff_mode          = True

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
